p{
    color: red;
    letter-spacing: 2px;
    font-size: 15PX;
}
#mobilenet{
    letter-spacing: 2px;
}
.google_lens{
    letter-spacing: 2px;
    color: black;
}
.img{
    margin-top: 10px;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.white1{
    color: white;
}
span{
    letter-spacing: 1px;
    color:red;
}
b{
    color: blueviolet;
}
.first,.second{
    background-color: white;
    border-radius: 10px;
    line-height: 2;
}
.test_image_and_result_1{
    margin-top: 15px;
    border-radius: 10px;
    background-color: bisque;
    box-shadow: 1px 1px 25px grey;
    width: 99%;
    margin-bottom: 15px;
}
h4{
    color: white;
    font-weight: bold;
}
.copy_right_footer{
    position: fixed;
    bottom:0;
    width:100%;
    text-align: center;
    background-color: azure;
    color: blueviolet;
    line-height:3;
  }
